{% extends 'layout.html' %}
  
{% block title %}Home{% endblock %}
  
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<p>Välkommen, {{ session['username']|capitalize }}</p>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
Lägg till article
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Lägg till garage</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modabody">
            <form action="{{ url_for('new_article') }}" action="{{ url_for('upload_image') }}" enctype="multipart/form-data" method="post" autocomplete="off"> 
                      <div class="form-group">
                       <label for="garage" class="cols-sm-2 control-label">Namn på garage</label>
                       <div class="cols-sm-10">
                        <div class="input-group">
                         <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                         <input type="text" class="form-control" name="garagename" id="garagename"  placeholder="Valfritt namn som syns på hemsidan"/>
                        </div>
                       </div>
                      </div>
                      <div class="form-group">
                       <label for="renter" class="cols-sm-2 control-label">Uthyrare</label>
                       <div class="cols-sm-10">
                        <div class="input-group">
                         <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                         <input type="text" class="form-control" name="renter" id="renter"  placeholder="{{ session['username']|capitalize }}" readonly/>
                        </div>
                       </div>
                      </div>
                  
                      <div class="form-group">
                       <label for="adress" class="cols-sm-2 control-label">Gatudress</label>
                       <div class="cols-sm-10">
                        <div class="input-group">
                         <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                         <input type="text" class="form-control" name="gatuadress" id="gatuadress" placeholder="Ex: Rapsvägen 115" required>
                        </div>
                       </div>
                      </div>
                <div class="form-group">
                         <label for="adress" class="cols-sm-2 control-label">Postkod</label>
                         <div class="cols-sm-10">
                          <div class="input-group">
                           <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                           <input type="text" class="form-control" name="postkod" id="postkod" placeholder="Postkod " required>
                          </div>
                         </div>
                        </div>

                      <div class="form-group">
                         <label for="adress" class="cols-sm-2 control-label">Stad</label>
                         <div class="cols-sm-10">
                          <div class="input-group">
                           <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                           <input type="text" class="form-control" name="stad" id="stad" placeholder="Stad" required>
                          </div>
                         </div>
                        </div>
          
                      <div class="form-group">
                       <label for="beskrivning" class="cols-sm-2 control-label">Beskrivning</label>
                       <div class="cols-sm-10">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                          <input type="text" class="form-control" name="beskrivning" id="beskrivning" placeholder="Beskriv ditt garage" required>
                         </div>
                       </div>
                      </div>
                   <div class="form-group">
                         <label for="pris" class="cols-sm-2 control-label">Pris</label>
                         <div class="cols-sm-10">
                          <div class="input-group">
                           <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                           <input type="text" class="form-control" name="pris" id="pris"  placeholder="Ditt timpris på garaget"/>
                          </div>
                         </div>
                        </div>
                      <div class="form-group ">
                        {% with messages = get_flashed_messages()  %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                          {{ message }}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                <div class="container">
                  <div class="row">
                      <h2>Välj en bild</h2>
                      <p>
                          {% with messages = get_flashed_messages() %}
                            {% if messages %}
                              <ul>
                              {% for message in messages %}
                                <li>{{ message }}</li>
                              {% endfor %}
                              </ul>
                            {% endif %}
                          {% endwith %}
                      </p>
                      {% if filename %}
                          <div>
                              <img src="{{ url_for('display_image', filename=filename) }}">
                          </div>
                      {% endif %}
                      <form method="post" action="/" enctype="multipart/form-data">
                          <dl>
                              <p>
                                  <input type="file" name="file" class="form-control" autocomplete="off" required>
                              </p>
                          </dl>
                          
                      </form>
                  </div>
                  </div>
              
                       <input type="submit" value="Lägg till" class="form-control btn btn-primary " name="">

                        
                      </div>
                        
                     </form>
    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
        </div>
      </div>
    </div>
  </div>
  <p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</p>

<div id="map"></div>

<!-- 
 The `defer` attribute causes the callback to execute after the full HTML
 document has been parsed. For non-blocking uses, avoiding race conditions,
 and consistent behavior across browsers, consider loading using Promises
 with https://www.npmjs.com/package/@googlemaps/js-api-loader.
-->
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJF2L8Fr5HxRz-FehemcKLr0y1DgV7tzg&callback=initMap&v=weekly"
  defer
></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock %}