{% extends 'layout.html' %}
  
{% block title %}Profile{% endblock %}
  
{% block content %}
<h1>Din Profil</h1>
<div>
    <p>Dina kontouppgifter:</p>
    <table>
        <tr>
            <td>Namn:</td>
            <td>{{ account['fullname'] }}</td>
        </tr>
  <tr>
            <td>Användarnamn:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
<h1>Dina garage</h1>
{% for row in account %}
<div class="inlägg_rubrik">
  <h3>{{row[0]}} {{row[2]}} {{row[6]}} {{row[5]}}</h3>
  <h6>Uthyrare: {{row[1]}}</h6>
  <p>{{row[3]}}</p>
  <h6>Pris: {{row[4]}}</h6>
  <img src="/static/uploads/{{row[8]}}" style="width:200px; height: 200px;">

        {% endfor %}

</div> 
{% endblock %}