{% extends 'layout.html' %}
  
{% block title %}Profile{% endblock %}
  
{% block content %}
<h1>Din Profil</h1>
<div>
    <p>Dina kontouppgifter:</p>
    <table>
        <tr>
            <td>Namn:</td>
            <td>{{ account['fullname'] }}</td>
        </tr>
  <tr>
            <td>Användarnamn:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>

{% endblock %}