{% extends 'layout.html' %}
  
{% block title %}Home{% endblock %}
  
{% block content %}

<p>Välkommen, {{ username }}</p>
<div class="container">
<div class="row">
    <h2>Select a file to upload</h2>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    {% if filename %}
        <div>
            <img src="{{ url_for('display_image', filename=filename) }}">
        </div>
    {% endif %}
    <form method="post" action="/home" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-primary">
        </p>
    </form>
</div>
</div>

<div id="map"></div>

<!-- 
 The `defer` attribute causes the callback to execute after the full HTML
 document has been parsed. For non-blocking uses, avoiding race conditions,
 and consistent behavior across browsers, consider loading using Promises
 with https://www.npmjs.com/package/@googlemaps/js-api-loader.
-->
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmbZ5XUpd_lAF-VKhnO846OyqSZ9b0bII&callback=initMap&v=weekly"
  defer
></script>

{% endblock %}