<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="main.css">
    <title>Hyresbolaget</title>
</head>

<body> 
    <div>
    </div>
    <header class="header">
        <img src="bilder/logo-tool.png" class="logo" alt="Logo">
        <div class="container">
            <div class="header-grid">
                <div class="top-section">
                    <div class="nav-section">
                        <ul class="nav-menu" >
                            <li>
                                <a href="">Garage</a>
                            </li>
                            <li>
                                <a href="">Mina sidor</a>
                            </li>
                            <li>
                                <a href="">Logga ut</a>
                            </li>
                            <li>
                                <div class="clicklogin">
                                    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3AHamburger_icon.svg&psig=AOvVaw0KHgi_xIw6vIZDNmzROVZY&ust=1649346290888000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCJjVk_Dj__YCFQAAAAAdAAAAABAD" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bottom-section">
                    <div class="searchbar">
                        
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="login">
        <div >
            <h1>Log In</h1>
            <form action="/" method="post">
              <input type="text" name="username" id="username" placeholder="Username" required/>
              <br>
              <input type="password" name="password" id="password" placeholder="Password" required/>
              <br>
              <input type="submit" class="button" value="Log In"/>
            </form>

        </div>
    </main>
</body>
</html>