
body {
    color: rgb(34, 34, 34);
    font-family: 'Akshar', sans-serif;
    margin: 0px;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 18px;

}

#wrapper {
    width: 100%; 
    margin: auto;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header header header"
    "main main aside"
    "footer footer footer";
}

h1 {
    margin-top: 13px;
    font-size: 34px;
    line-height: 35px;
}

h2 {
    font-size: 18px;
    color: #222;
    margin: 5px;
    font-weight: 400;
}

h3 {
    font-size: 10px;
    line-height: 18px;
    color: #ff386c ;
    font-family: 'Exo 2', sans-serif;
    margin-left: 5px;
    margin-top: 5;
    padding: 0;
}
#wrapper > header {
    grid-area: header;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 12px;
    justify-content: space-between;
    flex: 1 0 140px;
    transition: box-shadaw 0.2s ease;
}

#wrapper #header_logo {
    display:flex;
    margin-left: 30px;
   
}


header > #header_logo img {
    width: 95px;
    border-radius: 10px;
}

#header_nav {
    display: flex;
    border-radius: 24px;
    overflow: hidden;
    align-items: center;
    border: 1px solid rgb(121, 121, 245);
    font-family: 'Akshar', sans-serif;
    
}

#wrapper > header img:hover, #header_nav:hover, #header_nav button:hover  {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
#header_nvaigation:hover {
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
#wrapper > header #header_nvaigation button:hover, #header_nvaigation a:hover{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}


#header_nav > span {
    display: flex;
    width: 1px;
    height: 24px;
    background: #ddd;
}
    
#header_nav > button {
    display: flex;
    background: transparent;
    height: 48px;
    padding: 0 10px; 
    align-items: center;
    justify-content: center;
    border: none;
    font-family: 'Akshar', sans-serif;
    cursor: pointer;
}

#search_icon{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(121, 121, 245);
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
    margin: 3px;
}

header > #header_nvaigation {
    background: transparent;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid #ddd;
    height: 48px;
}

#header_inlägg {
    text-decoration: none;
    color: black;
    border-radius: 15px;
    padding: 5px;
   

}

#navigation_button {
    background: transparent;
    border-radius: 22px;
    cursor: pointer;
    border: 1px solid rgb(121, 121, 245);
}

#navigation_button img {
    width: 16px;
    height: 16px;
}

#toggle_button {
    position: absolute;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 31px;
}

#toggle_button .bar {
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

#wrapper > main {
    grid-area: main;
    min-height: calc(100vh - 80px);
    padding-left: 25px;
    margin-top: 80px;
    padding-top: 35px;
}
#wrapper > main .main_box:last-of-type {
    padding-bottom: 20px;
}

#wrapper > main .head_filter_button {
    padding: 7px 12px;
    outline: none;
    background: transparent;
    border: 1px solid #b0b0b0;
    border-radius: 30px;
    margin-right: 2px;
    margin-top: 5px;
    cursor: pointer;
}

#wrapper > main .head_filter_button:hover {
    border-color: #222;
}

#wrapper > main .inlägg {
    display: flex;
    border-top: 1px solid #ebebeb;
    padding: 15px 10px 0px 10px;
    margin-top: 10px;
    display: flex;
}

#wrapper > main .inlägg figure {
    width: 300px;
    height: 200;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
    position: relative;
    
}

#wrapper > main .inlägg figure::before {
    position: absolute;
    content: 'VERIFIERAD ANVÄNDARE';
    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    padding: 4px 8px;
    top: 10px;
    left: 10px;
    letter-spacing: 0.48px;
    font-size: 10px;
    text-transform: uppercase;

}

#wrapper > main .inlägg figure img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    
}

#wrapper > main .inlägg figure button {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    opacity: 0;
    transition: 0.1s ease-in;
    cursor: pointer;
}

#wrapper > main .inlägg figure button img {
    width: 10px;
    height: 10px;
}
#wrapper > main .inlägg figure button:first-of-type {
    left: 10px;
}
#wrapper > main .inlägg figure button:last-of-type {
    right: 10px;
}

#wrapper > main .inlägg:hover > figure button{
        opacity: 0.7;

}

#wrapper > main .inlägg figure button:hover {
    opacity: 1;
}

#wrapper > main .inlägg_rubrik {
    display:flexbox;

}

#wrapper > main  .inlägg_rubrik .separator {
    width: 32px;
    height: 1px;
    background: #ddd;
    margin: 20px 5px 5px 5px;
    
}

#wrapper > main  .inlägg_rubrik .inlägg_description{
    font-size: 12px;
    margin: 10px 0 0 5px;
    padding: 0;
    color: #717171;
}

#wrapper > main .inlägg_rubrik .star {
    display: flex;
    margin: 20px 0 0 10px;
    padding: 0;
    width: 15px;
    height: 10px;
    align-items: center;
    justify-content: center;
}

#wrapper > main .inlägg_rubrik .star img {
    width: 15px;
    margin-right: 4px;
    box-sizing: border-box;
}

#wrapper > main .inlägg_rubrik .star span {
    display: flex;
    align-items: center;
    width: 10px;
    height: 8px;
}

#wrapper .inlagg_fav_pris {
    margin-left: auto;
}


#wrapper > main .inlagg_fav_pris button {
    background: none;
    border: none;
    outline: none;
    display: flex ;
    position: relative;
    padding: 0;
    margin: 15px 15px 0 0;
    float: right;
    cursor: pointer;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
}

#wrapper .inlagg_fav_pris button::after {
    opacity: 0;
    background: #f7f7f7;
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: -1;
}

#wrapper .inlagg_fav_pris button:hover::after {
    opacity: 1;
}

#wrapper > main .inlägg .pris {
    margin: 145px 15px 30px 0;
}

#wrapper aside {
    grid-area: aside;
    margin-bottom: 250px;
    padding-top: 80px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    display:grid;
    
}
#wrapper > aside > #google_map {
    padding-right: 30px;
}
#wrapper > aside > #google_map iframe{
    width: 100%;
    height: 100%;
    border: none;

}

#wrapper > footer {
    grid-area: footer;
    background: #f7f7f7;
    border-top: 1px solid #ddd;
    padding: 30px 300px;
    

}

#wrapper > footer #container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;

}

#container ul {
    list-style-type: none;
    padding-left: 0;
}

#container li {
    margin-bottom: 15px;
    font-family: 'Exo 2', sans-serif;

}

#container h4 {
    text-transform: uppercase;
    font-size: 14px;
}

@media screen and (max-width: 700px) {
    #wrapper {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "main"
            "footer"
            ;
    }
    #wrapper > header {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        max-height: 70px;
    }
    header > #header_nav {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;

    }

    header > #header_nav button {
        width: 100%;
        padding: 5px;
        font-size: 20px;
    }

    header > #heder-nav:active {
        display: flex;
        background-color: #04AA6D;
        color: white;
    }

    .active {
        display: flex;
        background-color: #04AA6D;
        color: white;
    }

    header > #header_nvaigation {
        display: none;
    }

    #toggle_button {
        display: flex;
    }

    #wrapper > main .inlägg .pris {
        margin-top: 55px;
        
    }
    #wrapper > footer {
        padding: 10px 30px;
    }

    #wrapper > aside {
        display: none;
    }

}


@media screen and (max-width: 460px) {
    #wrapper > main .inlägg {
        display: block;
    }

    #wrapper > footer > #container {
        display: block;
    }

    #wrapper > footer > #container div{
        width: 100%;
        text-align: center;
        padding-top: 10px;
    }

}





